body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: white;
    color: #567c8d;
    padding-bottom: 60px;
}
header {
    background: #567c8d;
    color: #f5efeb;
    padding: 20px 10px;
    text-align: center;
}
header h1 {
    font-size: 30px;
    margin-bottom: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}
nav li {
    padding: 5px;
}
nav a {
    color: #f5efeb;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s;
}
nav a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

section {
    background-color: #f5efeb;
    padding: 20px;
    margin: 20px;
}
section h2 {
    color: #567c8d;
    margin-bottom: 15px;
}
.project-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.video, .audio {
    margin-bottom: 20px;
}
video, audio {
    max-width: 100%;
    border: 1px solid #ccc;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}
button {
    padding: 10px;
    background-color: #567c8d;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #567c8d;
}
footer {
    text-align: center;
    background-color: #567c8d;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}